docs/n8n_workflow_v3_with_utm_links.json
{
  "updatedAt": "2026-07-16T00:00:00.000Z",
  "createdAt": "2026-03-12T22:35:30.505Z",
  "id": "h7bRds9UOUfmP36F",
  "name": "YFIT Social Media Automation v3",
  "description": "v3: Added UTM links to all captions, /go landing page CTAs, medication campaign trigger",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yfit-social-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook from Supabase",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 304],
      "webhookId": "yfit-social-content"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming payload from Supabase generate-social-content function\n// Split content items into:\n//   - video_items: tiktok, instagram, youtube, facebook (need voiceover + video)\n//   - text_items: pinterest, linkedin (text/image posts only)\n\nconst payload = $input.first().json.body || $input.first().json;\n\nconst videoItems = (payload.content_items || []).filter(item =>\n  ['tiktok', 'instagram', 'youtube', 'facebook'].includes(item.platform)\n);\n\nconst textItems = (payload.content_items || []).filter(item =>\n  ['pinterest', 'linkedin'].includes(item.platform)\n);\n\n// Use first video item's script for voiceover (all video platforms share same script)\nconst primaryVideoItem = videoItems[0] || {};\n\nreturn [{\n  json: {\n    run_date: payload.run_date,\n    content_angle: payload.content_angle,\n    pexels_query: payload.pexels_query || 'fitness workout health',\n    voice_gender: payload.voice_gender || 'female',\n    script: payload.script || primaryVideoItem.script || '',\n    video_items: videoItems,\n    text_items: textItems,\n    all_items: payload.content_items || [],\n    dry_run: payload.dry_run || false,\n  }\n}];"
      },
      "id": "parse-payload",
      "name": "Parse Supabase Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.elevenlabs.io/v1/text-to-speech/' + ($json.voice_gender === 'male' ? 'AZnzlk1XvdvUeBnXmlld' : '21m00Tcm4TlvDq8ikWAM') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xi-api-key", "value": "sk_c73588c45da807e6ba8119f20e1fe445fb496d336c837d11" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "audio/mpeg" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ text: $json.script, model_id: \"eleven_turbo_v2\", voice_settings: { stability: 0.5, similarity_boost: 0.8, style: 0.3, use_speaker_boost: true } }) }}",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "elevenlabs-voiceover",
      "name": "ElevenLabs — Generate Voiceover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, 208],
      "notes": "Female voice: 21m00Tcm4TlvDq8ikWAM (Rachel). Male voice: AZnzlk1XvdvUeBnXmlld (Adam)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mxggxpoxgqubojvumjlt.supabase.co/storage/v1/object/yfit-voiceovers/voiceovers/{{ $('Parse Supabase Payload').first().json.run_date }}_{{ $('Parse Supabase Payload').first().json.content_angle.replace(/[^a-z0-9\\-]/gi, '_').substring(0, 80) }}.mp3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14Z2d4cG94Z3F1Ym9qdnVtamx0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzEyMjk2NiwiZXhwIjoyMDcyNjk4OTY2fQ.2wMo_cE2q9xpVAj5fMrOwrASN8Dps010sTPVxw9Cmp0" },
            { "name": "Content-Type", "value": "audio/mpeg" },
            { "name": "x-upsert", "value": "true" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "upload-audio-supabase",
      "name": "Upload Audio to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [912, 208]
    },
    {
      "parameters": {
        "jsCode": "// Build the audio public URL from Supabase Storage\nconst supabaseUrl = 'https://mxggxpoxgqubojvumjlt.supabase.co';\nconst bucketName = 'yfit-voiceovers';\n\nconst parseData = $('Parse Supabase Payload').first().json;\nconst runDate = parseData.run_date || new Date().toISOString().split('T')[0];\nconst rawAngle = parseData.content_angle || 'workout';\nconst sanitizedAngle = rawAngle.replace(/[^a-z0-9\\-]/gi, '_').substring(0, 80);\nconst audioUrl = `${supabaseUrl}/storage/v1/object/public/${bucketName}/voiceovers/${runDate}_${sanitizedAngle}.mp3`;\n\nconst firstVideoItem = (parseData.video_items || [])[0] || {};\nconst captionText = ((firstVideoItem.caption || parseData.script || '').split('\\n')[0]).substring(0, 60);\n\nreturn [{\n  json: {\n    ...parseData,\n    voiceover_url: audioUrl,\n    caption_text: captionText,\n    video_items: parseData.video_items,\n    text_items: parseData.text_items,\n  }\n}];"
      },
      "id": "prepare-assembly-request",
      "name": "Prepare Assembly Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 208]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://yfitai-yfit-video-service-production.up.railway.app/assemble",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer yfit-video-secret-2026" }]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "run_date", "value": "={{ $json.run_date }}" },
            { "name": "content_angle", "value": "={{ $json.content_angle }}" },
            { "name": "caption_text", "value": "={{ $json.caption_text }}" },
            { "name": "voiceover_url", "value": "={{ $json.voiceover_url }}" },
            { "name": "video_items", "value": "={{ JSON.stringify($json.video_items) }}" },
            { "name": "text_items", "value": "={{ JSON.stringify($json.text_items) }}" },
            { "name": "dry_run", "value": "=false" }
          ]
        },
        "options": { "timeout": 180000 }
      },
      "id": "assemble-video",
      "name": "Assemble Video (Railway ffmpeg)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1344, 208]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────────\n// UPDATED v3: Append platform-specific UTM links to every caption\n// This is the ONLY node that changed from v2.\n// ─────────────────────────────────────────────────────────────────────────────\n\nconst result = $input.first().json;\n\nif (!result.success || !result.video_url) {\n  throw new Error('Video assembly failed: ' + (result.error || 'No video URL returned'));\n}\n\nconst parseData = $('Parse Supabase Payload').first().json;\n\n// UTM base — /go page is the social landing page, optimised for cold traffic\nconst GO_BASE = 'https://yfitai.com/go';\nconst SIGNUP_BASE = 'https://app.yfitai.com/signup';\n\n// Determine campaign tag from content angle (max 40 chars, URL-safe)\nconst campaign = (parseData.content_angle || 'fitness')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '_')\n  .substring(0, 40)\n  .replace(/^_+|_+$/g, '');\n\n// Platform-specific CTA appended AFTER the GPT-generated caption\nconst platformCTA = {\n  tiktok:    `\\n\\n🔗 Link in bio to try free`,\n  instagram: `\\n\\n🔗 Link in bio to try free`,\n  youtube:   `\\n\\n🔗 Try YFIT free → ${SIGNUP_BASE}?utm_source=youtube&utm_medium=shorts&utm_campaign=${campaign}`,\n  facebook:  `\\n\\n${GO_BASE}?utm_source=facebook&utm_medium=post&utm_campaign=${campaign}`,\n};\n\n// Return one item per video platform with UTM-enriched caption\nreturn parseData.video_items.map(item => ({\n  json: {\n    platform: item.platform,\n    video_url: result.video_url,\n    caption: (item.caption || '') + (platformCTA[item.platform] || ''),\n    title: item.title || item.script ? (item.script || '').substring(0, 100) : 'YFIT Fitness Tip',\n    hashtags: item.hashtags || [],\n    content_angle: parseData.content_angle,\n    run_date: parseData.run_date,\n  }\n}));"
      },
      "id": "split-by-platform",
      "name": "Split by Video Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1568, 208],
      "notes": "v3 UPDATE: Appends platform-specific UTM links to every caption before posting. TikTok/Instagram say 'Link in bio' (bio holds the UTM link). YouTube/Facebook get full clickable URLs."
    },
    {
      "parameters": {
        "url": "https://api.upload-post.com/api/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InN1cHBvcnRAeWZpdGFpLmNvbSIsImV4cCI6NDkyNjk1OTUwMSwianRpIjoiNTFiNjY0YWQtMGNkZS00ODI3LTgzMWMtNDY4NTVhODJkZTA1In0.3ZkZ5_MzFvu7nmlVcJNtbz4SgtxibhQltUWMFGSWkbU" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "url", "value": "={{ $json.video_url }}" },
            { "name": "platform[]", "value": "={{ $json.platform }}" },
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "description", "value": "={{ $json.caption }}" },
            { "name": "user", "value": "YFIT" }
          ]
        },
        "options": {},
        "method": "POST"
      },
      "id": "upload-post-video",
      "name": "Upload-Post — Post Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1792, 208],
      "notes": "Posts video to TikTok, Instagram, YouTube, Facebook via Upload-Post API. Caption now includes UTM link."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────────\n// UPDATED v3: Append UTM links to LinkedIn and Pinterest text posts\n// ─────────────────────────────────────────────────────────────────────────────\n\nconst parseData = $('Parse Supabase Payload').first().json;\n\nconst GO_BASE = 'https://yfitai.com/go';\nconst SIGNUP_BASE = 'https://app.yfitai.com/signup';\n\nconst campaign = (parseData.content_angle || 'fitness')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '_')\n  .substring(0, 40)\n  .replace(/^_+|_+$/g, '');\n\nreturn (parseData.text_items || []).map(item => {\n  let captionWithLink = item.caption || item.script || '';\n  const hashtags = (item.hashtags || []).join(' ');\n\n  if (item.platform === 'linkedin') {\n    // LinkedIn: keep caption clean, add link as a separate line at the end\n    // (the first comment approach is manual — for automated posting, include in caption)\n    captionWithLink += `\\n\\nTry YFIT free (no credit card): ${SIGNUP_BASE}?utm_source=linkedin&utm_medium=post&utm_campaign=${campaign}`;\n  } else if (item.platform === 'pinterest') {\n    // Pinterest: link goes in the destination URL field, not the caption\n    // Caption stays clean for the pin description\n    captionWithLink = captionWithLink; // no change to caption\n  }\n\n  return {\n    json: {\n      platform: item.platform,\n      caption: captionWithLink,\n      hashtags: hashtags,\n      // Pinterest destination URL — this is where the pin clicks through to\n      destination_url: item.platform === 'pinterest'\n        ? `${GO_BASE}?utm_source=pinterest&utm_medium=pin&utm_campaign=${campaign}`\n        : undefined,\n    }\n  };\n});"
      },
      "id": "prepare-text-posts",
      "name": "Prepare Text Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 432],
      "notes": "v3 UPDATE: LinkedIn captions now include UTM signup link. Pinterest gets a destination_url for the pin click-through."
    },
    {
      "parameters": {
        "url": "https://api.upload-post.com/api/upload_text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InN1cHBvcnRAeWZpdGFpLmNvbSIsImV4cCI6NDkyNjk1OTUwMSwianRpIjoiNTFiNjY0YWQtMGNkZS00ODI3LTgzMWMtNDY4NTVhODJkZTA1In0.3ZkZ5_MzFvu7nmlVcJNtbz4SgtxibhQltUWMFGSWkbU" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "platform[]", "value": "={{ $json.platform }}" },
            { "name": "description", "value": "={{ $json.caption + '\\n\\n' + $json.hashtags }}" },
            { "name": "user", "value": "YFIT" },
            { "name": "url", "value": "={{ $json.destination_url || '' }}" }
          ]
        },
        "options": {},
        "method": "POST"
      },
      "id": "upload-post-text",
      "name": "Upload-Post — Post Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [912, 432],
      "notes": "v3 UPDATE: Pinterest now passes destination_url so pin clicks go to /go UTM page."
    },
    {
      "parameters": {
        "jsCode": "// Collect results from both video and text posting branches\nconst videoResult = $input.first().json;\nconsole.log('Post result:', JSON.stringify(videoResult));\n\nreturn [{\n  json: {\n    success: true,\n    posted_at: new Date().toISOString(),\n    result: videoResult,\n  }\n}];"
      },
      "id": "log-results",
      "name": "Log Post Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 304]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"YFIT content generated and posted to all platforms\", \"timestamp\": \"{{ $now.toISO() }}\" }",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2224, 304]
    },
    {
      "parameters": {},
      "id": "manual-test-trigger",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 128],
      "notes": "Click 'Test workflow' to run a test. Feeds sample data into the pipeline."
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────────\n// UPDATED v3: Test Data now uses the MEDICATION ANGLE script\n// This is the problem-first hook that drives social traffic to /go\n// Set dry_run: false to actually post. Set dry_run: true to preview only.\n// ─────────────────────────────────────────────────────────────────────────────\n\nreturn [{\n  json: {\n    run_date: new Date().toISOString().split('T')[0],\n    content_angle: 'your_fitness_app_doesnt_know_your_medications',\n    pexels_query: 'person checking phone medication pills fitness',\n    voice_gender: 'female',\n    dry_run: true,  // ← SET TO false TO ACTUALLY POST\n    script: 'Your fitness app has no idea what medications you are on — and that is actually dangerous. If you take Metformin, beta blockers, SSRIs, or statins — intense cardio can cause blood sugar crashes, heart rate miscalculations, and recovery failures. And your app? It gives you the same plan as someone on zero medications. YFIT is the only fitness app that actually knows your prescriptions. It flags dangerous workout combinations, adjusts your macros, and generates a report your doctor can use. It is completely free to start. Link in my bio — no credit card, no gym needed.',\n    content_items: [\n      {\n        platform: 'tiktok',\n        script: 'Your fitness app has no idea what medications you are on — and that is actually dangerous.',\n        caption: 'Your fitness app is lying to you 💊 #fitness #medication #health #yfitai #fitnesstips',\n        hashtags: ['#fitness', '#medication', '#health', '#yfitai', '#fitnesstips']\n      },\n      {\n        platform: 'instagram',\n        script: 'Your fitness app has no idea what medications you are on.',\n        caption: '66% of adults take prescription medication.\\n\\nZero fitness apps account for it.\\n\\nYFIT does. 💊',\n        hashtags: ['#fitness', '#medication', '#health', '#yfitai', '#wellnessapp']\n      },\n      {\n        platform: 'youtube',\n        title: 'Your fitness app doesn\\'t know about your medications (and it\\'s dangerous)',\n        script: 'Your fitness app has no idea what medications you are on — and that is actually dangerous.',\n        caption: 'There is something every fitness app is missing — and if you are on medication, it could be hurting your progress.',\n        hashtags: ['#fitness', '#medication', '#yfitai', '#YouTubeShorts']\n      },\n      {\n        platform: 'facebook',\n        script: 'Your fitness app has no idea what medications you are on.',\n        caption: 'If you are on any prescription medication and trying to get fit — this is for you.\\n\\nMost fitness apps treat everyone the same. YFIT AI is the only fitness app that actually accounts for your medications.',\n        hashtags: ['#fitness', '#medication', '#health', '#yfitai']\n      },\n      {\n        platform: 'linkedin',\n        title: 'The fitness-medication gap no app is solving (until now)',\n        script: '66 percent of adults take at least one prescription medication. Zero mainstream fitness apps account for this.',\n        caption: 'A statistic that surprises most people: 66% of adults take at least one prescription medication.\\n\\nA statistic that surprises no one in healthcare: zero mainstream fitness apps account for this.\\n\\nYFIT AI is the first fitness application built to address this gap.',\n        hashtags: ['#Fitness', '#Wellness', '#YFIT', '#HealthTech']\n      },\n      {\n        platform: 'pinterest',\n        title: 'The only fitness app that knows your medications',\n        script: '',\n        caption: 'YFIT AI tracks your prescriptions alongside your workouts and nutrition — and flags dangerous interactions before they happen. Free to start.',\n        hashtags: ['#fitness', '#medication', '#yfitai', '#healthylifestyle']\n      }\n    ]\n  }\n}];"
      },
      "id": "test-data-node",
      "name": "Test Data (Medication Campaign)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 128],
      "notes": "v3 UPDATE: Pre-loaded with the medication angle script. Set dry_run: false to post for real. Change pexels_query to adjust B-roll footage."
    },
    {
      "parameters": {
        "jsCode": "// Dry Run Logger — summarizes what would have been posted\nconst items = $input.all();\n\nconst report = {\n  dry_run: true,\n  timestamp: new Date().toISOString(),\n  total_platforms: items.length,\n  summary: items.map(item => ({\n    platform: item.json.platform,\n    caption_preview: (item.json.caption || item.json.body || '').substring(0, 150) + '...',\n    hashtags: item.json.hashtags || [],\n    status: 'WOULD_POST'\n  }))\n};\n\nconsole.log('\\n=== DRY RUN COMPLETE ===');\nconsole.log(JSON.stringify(report, null, 2));\nconsole.log('\\nTo post for real: set dry_run: false in the Test Data node');\n\nreturn [{ json: report }];"
      },
      "id": "dry-run-logger",
      "name": "Dry Run Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1104, 80]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "dry-run-condition",
              "leftValue": "={{ $json.dry_run }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dry-run-if",
      "name": "Is Dry Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 208]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "dry-run-text-condition",
              "leftValue": "={{ $json.dry_run }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dry-run-if-text",
      "name": "Is Dry Run? (Text)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 480]
    },
    {
      "parameters": {
        "jsCode": "// Dry Run Logger (Text Posts)\nconst items = $input.all();\n\nconst report = {\n  dry_run: true,\n  post_type: 'text',\n  timestamp: new Date().toISOString(),\n  total_platforms: items.length,\n  summary: items.map(item => ({\n    platform: item.json.platform,\n    caption_preview: (item.json.caption || '').substring(0, 150) + '...',\n    destination_url: item.json.destination_url || '(none)',\n    status: 'WOULD_POST'\n  }))\n};\n\nconsole.log('\\n=== DRY RUN — TEXT POSTS ===');\nconsole.log(JSON.stringify(report, null, 2));\n\nreturn [{ json: report }];"
      },
      "id": "dry-run-logger-text",
      "name": "Dry Run Logger (Text)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 368]
    },
    {
      "parameters": {
        "jsCode": "// Rename binary field to 'data' for the Upload node\nconst item = $input.first();\nconst binaryData = item.binary || {};\nconst binaryKeys = Object.keys(binaryData);\nconsole.log('Binary fields from ElevenLabs:', binaryKeys);\n\nif (binaryKeys.length === 0) {\n  throw new Error('No binary audio data received from ElevenLabs');\n}\n\nconst firstKey = binaryKeys[0];\nconst audioData = binaryData[firstKey];\nconsole.log('Audio field:', firstKey, '- mimeType:', audioData.mimeType);\n\nreturn [{\n  json: item.json,\n  binary: {\n    data: {\n      ...audioData,\n      mimeType: 'audio/mpeg',\n      fileExtension: 'mp3'\n    }\n  }\n}];"
      },
      "id": "binary-rename",
      "name": "Rename Binary to data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 304]
    }
  ],
  "connections": {
    "Webhook from Supabase": {
      "main": [[{ "node": "Parse Supabase Payload", "type": "main", "index": 0 }]]
    },
    "Parse Supabase Payload": {
      "main": [
        [{ "node": "ElevenLabs — Generate Voiceover", "type": "main", "index": 0 }],
        [{ "node": "Prepare Text Posts", "type": "main", "index": 0 }]
      ]
    },
    "ElevenLabs — Generate Voiceover": {
      "main": [[{ "node": "Rename Binary to data", "type": "main", "index": 0 }]]
    },
    "Rename Binary to data": {
      "main": [[{ "node": "Upload Audio to Supabase Storage", "type": "main", "index": 0 }]]
    },
    "Upload Audio to Supabase Storage": {
      "main": [[{ "node": "Prepare Assembly Request", "type": "main", "index": 0 }]]
    },
    "Prepare Assembly Request": {
      "main": [[{ "node": "Assemble Video (Railway ffmpeg)", "type": "main", "index": 0 }]]
    },
    "Assemble Video (Railway ffmpeg)": {
      "main": [[{ "node": "Split by Video Platform", "type": "main", "index": 0 }]]
    },
    "Split by Video Platform": {
      "main": [[{ "node": "Is Dry Run?", "type": "main", "index": 0 }]]
    },
    "Is Dry Run?": {
      "main": [
        [{ "node": "Dry Run Logger", "type": "main", "index": 0 }],
        [{ "node": "Upload-Post — Post Video", "type": "main", "index": 0 }]
      ]
    },
    "Upload-Post — Post Video": {
      "main": [[{ "node": "Log Post Results", "type": "main", "index": 0 }]]
    },
    "Prepare Text Posts": {
      "main": [[{ "node": "Is Dry Run? (Text)", "type": "main", "index": 0 }]]
    },
    "Is Dry Run? (Text)": {
      "main": [
        [{ "node": "Dry Run Logger (Text)", "type": "main", "index": 0 }],
        [{ "node": "Upload-Post — Post Text", "type": "main", "index": 0 }]
      ]
    },
    "Upload-Post — Post Text": {
      "main": [[{ "node": "Log Post Results", "type": "main", "index": 0 }]]
    },
    "Log Post Results": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    },
    "Manual Test Trigger": {
      "main": [[{ "node": "Test Data (Medication Campaign)", "type": "main", "index": 0 }]]
    },
    "Test Data (Medication Campaign)": {
      "main": [[{ "node": "Parse Supabase Payload", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ac069442-deee-46e6-83af-eabae652a257",
  "activeVersionId": "ac069442-deee-46e6-83af-eabae652a257"
}
